<form 
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
         [formControl]="fg.controls['nombre']">
         <ul>
             <li *ngFor="let r of searchResults;">{{r}}</li>
         </ul>
        <div> 
            <div *ngIf="!fg.controls['nombre'].valid"><i style="color: red;">El nombre es requerido.</i></div>
            <div *ngIf="fg.controls['nombre'].hasError('required')">
                <i style="color: blue;">El nombre es requerido.</i>
            </div>
            <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
                <i style="color: purple;">El nombre es invalido.</i>
            </div>
            <div *ngIf="fg.controls['nombre'].hasError('minLogNombre')">
                <i style="color: yellow;">El nombre debe tener al menos {{minLogitud}} caracteres.</i>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." 
         [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>