<div class="card-content">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p>Ofrecemos: </p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'Desayuno'">{{s}}</i>
					<i *ngSwitchDefault style="color: brown;">{{s}}*</i>
				</span>
			</li>
		</ul> <br>
		<di>
			<a href="#" (click)="voteUp()"> <i class="material-icons md-18">thumb_up</i></a>
			<a href="#" (click)="voteDown()"> <i class="material-icons md-18">thumb_down</i></a>
			{{destino.votes}}
		</di>
		<a href="#" class="btn-card" (click)="ir()">Ir</a>
		<!-- Formas de colocar el favorito -->
		<!-- <span [style.display]="destino.isSelected() ? '' : 'none'">-PREFERIDO-</span> -->
		<span *ngIf="destino.isSelected()">
			<span ngNonBindable><i>Preferido!</i></span>
		</span>
		<br>
		<a [routerLink]="['/destino', destino.id]">Ver detalle</a>
	</div>
</div>
