<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Routeo simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Inicio</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>

<div class="container content">
  <hr class="mb-5">
  <i> Fecha: {{time | async}}</i>
</div>